<div class="header">
  <h1>FOLDER STRUCTURE MAKER</h1>
</div>
<div class="content">
  <button (click)="addToRoot()" aria-label="Add folder to root button">
    Add folder to root
  </button>

  <div class="folder-container" *ngFor="let each of nodeModel">
    <div class="sub-folder-container">
      <sub-folder-title
        [child]="each"
        (addActionEvent)="handleAddAction($event)"
      ></sub-folder-title>
      <sub-folder
        [parent]="each"
        [children]="each.children"
        [isSubShowDialog]="isSubShowDialog"
        [isSubShowSelectType]="isSubShowSelectType"
      ></sub-folder>
    </div>
  </div>

  <new-folder-dialog
    [isSelectType]="!isShowDialog"
    *ngIf="isShowDialog"
    (createNodeActionEvent)="handleCreateNodeAction($event)"
  ></new-folder-dialog>

  <p>{{ nodeModel | json }}</p>
</div>
